<div class="glass-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="glass-form">
    <h2>Witaj w Webaby</h2>
    
    <div class="input-group">
      <input type="email" formControlName="email" placeholder="Email">
      <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Podaj poprawny adres email.
      </small>
    </div>

    <div class="input-group">
      <input type="password" formControlName="password" placeholder="Hasło">
      <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Hasło musi mieć min. 6 znaków.
      </small>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Zaloguj się</button>
  </form>
</div>
