/* Ustaw globalne tło dla całej strony (dla tagów html/body) */
$font-stack: 'Poppins', Helvetica, Arial, sans-serif;

/* Aplikujemy czcionkę do całej aplikacji */

:host {
  display: block;
  min-height: 100vh;
  background: radial-gradient(circle at top left, #2e026d, #15162c);
  font-family: $font-stack; 
}



/* Stylizacja paska nawigacji, która będzie spójna z tłem */
.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: rgba(255, 255, 255, 0.05); /* Półprzezroczyste tło paska */
  color: white;
  a {
    font-family: $font-stack;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
