<nav class="main-nav">
  <!-- Link do strony głównej (listy produktów) -->
  <a routerLink="/products" routerLinkActive="active">Produkty Webaby</a>
  
  <div class="auth-links">
    <!-- Link do strony logowania -->
    <a routerLink="/login" routerLinkActive="active">Logowanie</a>
    
    <!-- Link do strony rejestracji -->
    <a routerLink="/register" routerLinkActive="active">Rejestracja</a>
  </div>
</nav>

<!-- Tutaj ładowana jest zawartość danej podstrony -->
<router-outlet></router-outlet> 